.employee-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.employee-card {
    border: solid 2px slategrey;
    border-radius: 5%;
    margin: 4%;
    padding: 2%;
    width: 30%;
}

.headshots {
    height: 15em;
    width: 12em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.employee-card h2 {
    text-align: center;
    text-underline-position: solid 1px slategray;
}


.hello {
    border-bottom: 1px slategrey solid;
    margin: 2% 4% 1% 4%;
    color: black;
}

.eename {
    border-bottom: solid 1px slategray;
    margin-bottom: 2em;
    text-align: center;
}

.hellop {
    margin: 2em 4% 0 4%;
}



