/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Arial Narrow Bold', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: .95em;
	margin-bottom: 1.8em;
}
h2,
h3,
a {
	color: #9c0f0ff3;
}
h2,
h3 {
	margin-top: 0;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:8em;
    color:whitesmoke;
}
/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */


}
.main-nav {
	margin-top: 5px;
}
.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.main-nav a {
	font-size: .95em;
	color: #3acec23b;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}
.banner,
.main-footer {
	text-align: center;
}
.banner {
	color: rgba(94, 10, 10, 0.733);
	background: rgba(81, 81, 119, 0.034);
    padding: 3.2em 0;
    
	
}
.col {
	padding-right: 1em;
	padding-left: 1em;
}
.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
}
.headline {
	margin-bottom: 0;
}
.feat-img {
	border-radius: 5px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	.main-header,
	.row {
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	.tagline {
		font-size: 1.4em;
	}
}
/*.flex-grid {
    display: flex;
    flex-direction: row;
  }
  .col {
    flex: 4;  
  }
*/



  /* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
    
        .main-header,
        .main-nav {
            display: flex;
        }
        .main-header {
            flex-direction: column;
            align-items: center;
        }
    
    }
    
    @media (min-width: 1025px) {
    
        .main-header {
            flex-direction: row;
            justify-content: space-between;
        }
    
	}

/* ================================= 
Employee page styling
==================================== */
	.employee-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	
	.employee-card {
		border: solid 2px slategrey;
		border-radius: 5%;
		margin: 4%;
		padding: 2%;
		width: 30%;
	}
	
	.headshots {
		height: 15em;
		width: 12em;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	
	.employee-card h2 {
		text-align: center;
		text-underline-position: solid 1px slategray;
	}
	
	
	.hello {
		border-bottom: 1px slategrey solid;
		margin: 2% 4% 1% 4%;
		color: black;
	}
	
	.eename {
		border-bottom: solid 1px slategray;
		margin-bottom: 2em;
		text-align: center;
	}
	
	.hellop {
		margin: 2em 4% 0 4%;
	}

	/* Awards Page Style */
	.award-head {
		font-size: 60px;
		text-align: center;
		margin: 3em;
	}
	
	 p {
		text-align: center
	}
	
	.image-award {
	   
		display:flex;
		height: 20em;
		width: 300px;
	}
	
	.award {
		border: 1px solid black;
		display: flex;
		padding 16px;
		/* flex-wrap: wrap; */
		
	}
	
	.award-image {
		display: flex;
		flex-wrap: wrap;
		height: 20em;
		width: 20em;
		margin: 2em;
		padding: 0.83em;
		border-right: 1px solid black;
		
	}
	
	/* .award-blurb {
		border: 1px solid black;
	
	} */
	
	.award p {
		display: flex;
		text-align: center;
		margin:auto;
		padding: 2em;
		border:0.5px solid rgb(153, 82, 82);
		border-radius: 4px;
		
	}
	.card {
		border: 1rem solid white;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 4rem 4rem 4rem 4rem;
		float: left;
		box-shadow: 8px 8px 8px 8px rgba(94, 10, 10, 0.733);
		
	}
.container {
	padding: 2px 16px;
}